@model IEnumerable<Entidades.VehiculoxServicio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Servicios Asignados A Los Vehículos</h2>
<br/>
<br />

<table class="table thead-dark ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
